.status {
    color: gray; 
    font-size: 12px;
}

.delete {
    color: gray; 
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}

.DIVpress {
	align: center;
	background-color:black;
	overflow:hidden;
	font-family: Tahoma;
	font-size: 14px;
	color: white;
}

.tablestylr {
	font-family: Tahoma;
	font-size: 14px;
	color: white;
}