.copyright {
  font-size: 14px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(230, 230, 230);
}

.status { 
  width: 350px; 
  background: black;
  height: 20px;
  left: 40%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 12px;
}
