body {
  background-color: black;
}

.status {
  color: gray; 
  font-size: 12px;
}

.delete {
  color: gray; 
  font-size: 15px;
  text-decoration: none;
  text-align: center;
}

#toptable {
  position: fixed;
  top: 0px;
}

#newtable {
  margin-top: -45px;
  margin-bottom: 5px; 
  position: fixed;
}


#newtable input[type=text] {
  background-color: white;
  width: 100%;
}

#newtable textarea {
  border: none;
  width: 100%;
}

#maintable {
  margin-top: 22px;
}

#maintable input {
  border: none;
  background-color: inherit;
  width: 100%;
}

#maintable textarea {
  border: none;
  width: 100%;
}

.maintable {
  border: 4px double gray;
  border-collapse: separate;
  background-color: rgb(230, 230, 230);
  font-family: Tahoma;
  font-size: 14px;
  width: 1087px;
  text-align: center;
}

.maintable tr {
  border: 0;
}

.maintable td:first-child {
  width: 30px;
}

.maintable td:nth-child(2) {
  width: 170px;
}

.maintable td:nth-child(3) {
  width: 130px;
}

.maintable td:nth-child(4) {
  width: 40px;
}

.maintable td:nth-child(5) {
  width: 40px;
}

.maintable td:nth-child(6) {
  width: 40px;
}

.maintable td:nth-child(7) {
  width: 150px;
}

.maintable td:nth-child(8) {
  width: 40px;
}

.maintable td:nth-child(9) {
  width: 40px;
}

.maintable td:nth-child(10) {
  width: 170px;
}

.maintable td:nth-child(11) {
  width: 40px;
}

.maintable td:nth-child(12) {
  width: 45px;
}

.maintable td:nth-child(13) {
  width: 170px;
}

.maintable td:nth-child(14) {
  width: 20px;
  text-align: center;
}

.maintable td:nth-child(15) {
  width: 20px;
  text-align: center;
}

#table_div{
  width: 1150px;
  margin: 0px auto;
  text-align: left;
  padding-top: 78px;
  position: relative;
}

.copyright {
  font-size: 14px;
  width: 350px;
  margin-left: auto ;
  margin-right: auto ;
}

.status { 
  width: 350px; 
  background: black;
  height: 20px;
  left: 40%;
  margin-left: auto ;
	margin-right: auto ;
}

tr.active {
  background-color: rgb(200, 200, 200);
  outline:none;
}

textarea.comment {
  width: 300px;
  height: 100px;
}

/* Wobble Horizontal */

@-webkit-keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }

  49.95% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  66.6% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }

  83.25% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }

  100% {
    -webkit-transform: translateX(1);
    transform: translateX(1);
  }
}

@keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    -ms-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    -ms-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    -ms-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    -ms-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.wobble-horizontal {
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border: 4px solid red;
}

.wobble-horizontal:hover {
  -webkit-animation-name: wobble-horizontal;
  animation-name: wobble-horizontal;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
